/* Styles properties */
ion-content[_aio-597BE452] {
--background: #289be4;
}
ion-text[_aio-AB11ABFE] {
display: block;
text-align: center;
font-size: 50px;
padding-bottom: 5px;
color: #000000;
}
ion-text[_aio-770F56F0] {
display: block;
padding-bottom: 200px;
color: #289be4;
}
/* Custom SCSS */
