/* Styles properties */
ion-content[_aio-6A3F2DFA] {
--background: #289be4;
}
ion-text[_aio-D20A502B] {
display: block;
padding-bottom: 90px;
color: #289be4;
}
ion-text[_aio-8CCBAB6E] {
display: block;
font-size: 50px;
font-weight: bold;
padding-bottom: 40px;
}
/* Custom SCSS */
